@model EPharma.App.ViewModels.ClienteViewModel

@{
    ViewData["Title"] = "Tem certeza que deseja deletar - " + Model.Nome + "?";
}

<div>
    <h4 style="padding-top: 50px">@ViewData["Title"]</h4>
    <hr />
    <div class="container">
        <div class="row">
            <div class="cl-md-12">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Nome)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.TipoCliente)
                    </dt>
                    <dd>
                        @if (Model.TipoCliente == 1)
                        {
                            <span>Pessoa Física</span>
                        }
                        else
                        {
                            <span>Pessoa Jurídica</span>
                        }
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CpfCnpj)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CpfCnpj)
                    </dd>
                    @if (Model.TipoCliente == 1)
                    {
                        <dt>
                            @Html.DisplayNameFor(model => model.RG)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.RG)
                        </dd>
                    }
                    <dt>
                        @Html.DisplayNameFor(model => model.DataNascimento)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DataNascimento)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Telefone)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Telefone)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index">Back to List</a>
                </form>
            </div>
        </div>
    </div>
</div>
