@using EPharma.App.Extensions
@model IEnumerable<EPharma.App.ViewModels.ClienteViewModel>

@{
    ViewData["Title"] = "Lista de Clientes";
}

<h4>@ViewData["Title"]</h4>

<p>
    <a class="btn btn-info btn" asp-action="Create">Novo Cliente</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Filtro: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Pesquisar" class="btn btn-default" /> |
            <a asp-action="Index" class="btn btn-default">Limpar pesquisa</a>
        </p>
    </div>
</form>
<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CpfCnpj)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @this.FormataDocumento(item.TipoCliente, item.CpfCnpj)
                </td>               
                <td>
                    @this.FormataData(item.DataNascimento)
                </td>             
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="text-right">
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><spam class="fa fa-search"></spam></a>
                    <a class="btn btn-warning" supress-by-claim-name="Cliente" supress-by-claim-value="Editar" asp-action="Edit" asp-route-id="@item.Id"><spam class="fa fa-pencil-alt"></spam></a>
                    <a class="btn btn-danger" supress-by-claim-name="Cliente" supress-by-claim-value="Excluir" asp-action="Delete" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam></a>
                </td>
            </tr>
        }
    </tbody>
</table>
