@model EPharma.App.ViewModels.PlanoViewModel
@using EPharma.App.Extensions

@{
    ViewData["Title"] = "Detalhe do Plano de Saúde - " + Model.NomePlano;
}

<div>
    <h4 style="padding-top: 50px">@ViewData["Title"]</h4>
    <hr />
    <div class="container">
        <div class="row">
            <div class="cl-md-12">
                <dl>

                    <dt>
                        @Html.DisplayNameFor(model => model.NomePlano)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NomePlano)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.DataInicioVigencia)
                    </dt>
                    <dd>
                        @this.FormataData(Model.DataInicioVigencia)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.DataFimVigencia)
                    </dt>
                    <dd>
                        @this.FormataData(Model.DataFimVigencia)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.DataCadastro)
                    </dt>
                    <dd>
                        @this.FormataData(Model.DataCadastro)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IsPJ)
                    </dt>
                    <dd>
                        @if (Model.IsPJ)
                        {
                            <span>Sim</span>
                        }
                        else
                        {
                            <span>Não</span>

                        }
                    </dd>
                </dl>
            </div>
        </div>
    </div>

</div>
<div>
    <div>
        <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
    </div>
</div>
